.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  text-align: center;
  position: absolute;
  width: 250px;
  height: 150px;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 5px;
  background: white;
}

.right {
  float: right;
}

.center {
  float: center;
}

.positioned {
  position: absolute;
  /* width: 150px;
  height: 300px; */
  margin: auto;
  border-radius: 5px;
  background: grey;

  width: 75px;
  height: 75px;
  z-index: 3;
}

.radius {
  position: absolute;
  margin: auto;
  border-radius: 50%;
  background: brown;
  border-style: dotted;
  border-color: white;
  border-width: 2px;
  z-index: 2;
  overflow: hidden;
}

.marker {
  position: absolute;
  margin: auto;
  border-radius: 50%;
  background: yellow;
  border-style: dotted;
  border-color: white;
  border-width: 5px;
  z-index: 2;
  overflow: hidden;
}

.fade_out {
  animation: fadeOut ease 3s;
  animation-fill-mode: forwards;
  pointer-events: none;
  overflow: hidden;
  /* allows me to click through this layer */
}

@keyframes fadeOut {
  0% {
    opacity: 0.5;
  }
  100% {
    background: transparent;
  }
}

.submenuItem {
  list-style: none;
  text-align: center;
  font-weight: bold;
}

.submenuItem:hover {
  background-color: #ffff00;
  cursor: pointer;
}

li,
ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#waldo {
  width: 100%;
  height: 100%;
}
